.connect {
  padding: 125px 0 134px;
}
.connect__container {
  padding: 0 32px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -moz-column-gap: 64px;
        column-gap: 64px;
}
.connect__title {
  margin-bottom: 21px;
  grid-column: span 2;
  text-align: center;
}
.connect__description {
  margin-bottom: 71px;
  text-align: center;
  grid-column: span 2;
}
.connect__content {
}
.connect__item {
  padding: 30px 32px 9px;
}
.connect__item-title {
  font-family: "Roboto";
  font-size: 22px;
  line-height: 1.45;
  color: var(--color-font-main);
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
  column-gap: 20px;
  background-color: transparent;
  cursor: pointer;
}
.connect__item-title:hover {
  color: var(--color-bg-important);
}
.connect__item-title::after {
  content: "";
  width: 32px;
  height: 32px;
  background-image: url(../img/connect-arrow.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: transform 0.2s ease 0s;
}
.connect__item:focus {
  outline: none;
}
.connect__item:focus .connect__item-title{
  color: var(--color-bg-important);
}
.connect__item._opened .connect__item-title::after {
  transform: rotate(90deg);
}
.connect__item-toggle {
  transition: all 0.2s ease 0s;
  overflow: hidden;
}
.connect__item-description {
  padding: 34px 0 20px;
  font-family: "Roboto";
  font-size: 13px;
  line-height: 1.54;
  color: var(--color-font-light);
}
.connect__progress {
  margin-top: 30px;
  width: 100%;
  height: 8px;
  border-radius: 10px;
  background-color: rgba(16, 11, 43, 0.1);
}
.connect__progress span{
  display: block;
  width: 0%;
  height: 8px;
  border-radius: 10px;
  background-color: var(--color-bg-important);
}
.connect__img {
  width: 100%;
  max-width: 544px;
  aspect-ratio: 1 / 0.75;
  background-image: url(../img/connect.webp);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 1199.98px) {
  .connect {
    padding: 90px 0 100px;
  }
  .connect__container {
    padding: 0 20px;
    -moz-column-gap: 32px;
         column-gap: 32px;
  }
  .connect__title {
    margin-bottom: 15px;
  }
  .connect__description {
    margin-bottom: 40px;
  }
  .connect__item {
    padding: 20px 22px 5px;
  }
  .connect__item-title {
    font-size: 20px;
  }
  .connect__item-description {
    padding: 20px 0 10px;
  }
  .connect__progress {
    margin-top: 20px;
  }
  .connect__img {
    background-image: url(../img/connect-s.webp);
  }
}
@media (max-width: 767.98px) {
  .connect {
    padding: 40px 0 40px;
  }
  .connect__container {
    padding: 0 10px;
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .connect__title {
    margin-bottom: 10px;
  }
  .connect__description {
    margin-bottom: 20px;
  }
  
  .connect__item {
    padding: 5px 5px 5px;
  }
  .connect__item-title {
    font-size: 15px;
    -moz-column-gap: 0px;
        column-gap: 0px;
  }
  .connect__item-title::after {
    width: 24px;
    height: 24px;
  }
  .connect__item-description {
    padding: 10px 0 5px;
    font-size: 12px;
  }
  .connect__progress {
    margin-top: 10px;
  }
  .connect__img {
    background-image: url(../img/connect-xs.webp);
  }
}
@media (max-width: 479.98px) {
  .connect__content {
    grid-column: span 2;
  }
  .connect__img {
    justify-self: center;
    margin-top: 10px;
    grid-column: span 2;
    max-width: 276px;
  }
}