:root {
	--color-bg-main: #fef5e4;
	--color-bg-alternative: #100b2b;
	--color-bg-important: #6140ff;
	--color-font-main: #100b2b;
	--color-font-alternative: #fef5e4;
	--color-font-light: #655b6e;
	--color-font-contrast: #000;
	--color-bg-orange: #fabc32;
}
body {
	display: flex;
	flex-direction: column;
	font-family: "inter";
	font-size: 17px;
	line-height: 32px;
	background-color: var(--color-bg-main);
}
@media (max-width: 1199.98px) {
	body {
		font-size: 16px;
		line-height: 28px;
	}
}
@media (max-width: 767.98px) {
	body {
		font-size: 15px;
		line-height: 24px;
	}
}
.wrapper {
	position: relative;
}
.frozen {
	overflow: hidden;
}

.main {
	flex: 1 1 auto
}

/* container ================================================= */
.container {
	padding-left: 160px;
	padding-right: 160px;
}
@media (max-width: 1439.98px) {
	.container {
		padding-left: 100px;
		padding-right: 100px;
	}
}
@media (max-width: 1199.98px) {
	.container {
		padding-left: 60px;
		padding-right: 60px;
	}
}
@media (max-width: 991.98px) {
	.container {
		padding-left: 35px;
		padding-right: 35px;
	}
}
@media (max-width: 767.98px) {
	.container {
		padding-left: 25px;
		padding-right: 25px;
	}
}
@media (max-width: 479.98px) {
	.container {
		padding-left: 15px;
		padding-right: 15px;
	}
}

/* section ====================================================== */

section h1[class*="__title"] {
	font-family: "Roboto";
	color: var(--color-font-contrast);
}
section h2[class*="__title"] {
	font-family: "Roboto";
	font-size: 38px;
	line-height: 1.158;
}
@media (max-width: 991.98px) {
	section h2[class*="__title"] {
		font-size: 32px;
	}
}
@media (max-width: 767.98px) {
	section h2[class*="__title"] {
		font-size: 28px;
	}
}

section p[class*="__description"] {
	color: var(--color-font-light);
}

/* logo =========================================================== */
a[class*="__icon"] {
  display: flex;
  align-items: center;
}
a[class*="__icon"]:hover, a[class*="__icon"]:focus {
  outline: none;
}
a[class*="__icon"]:hover svg path:nth-child(1),
a[class*="__icon"]:focus svg path:nth-child(1) {
  fill: var(--color-bg-orange);
}
a[class*="__icon"]:hover svg path:nth-child(2),
a[class*="__icon"]:focus svg path:nth-child(2) {
  fill: var(--color-bg-important);
}