.partneers {
}
.partneers__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px 40px;
}
@media (max-width: 767.98px) {
  .partneers__container img {
    height: 26px;
  }
}