.review {
}
.review__container {
  background-color: var(--color-bg-alternative);
  border-radius: 10px;
  padding: 32px;
  display: grid;
  grid-template-columns: repeat(2, auto);
  align-items: center;
  gap: 20px;
}
.review__content {
  display: grid;
  gap: 18px;
}
.review__text {
  font-size: 30px;
  line-height: 1.33;
  color: var(--color-font-alternative);
}
.review__author {
  font-size: 17px;
  line-height: 1.88;
  color: var(--color-font-alternative);
}
.review__logo {
}
.review__img {
  width: 441px;
  aspect-ratio: 1 / 0.7;
  background-image: url(../img/review-photo.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1199.98px) {
  .review__text {
    font-size: 28px;
  }
  .review__author {
    font-size: 16px;
  }
  .review__img {
    width: 400px
  }
}
@media (max-width: 991.98px) {
  .review__text {
    font-size: 25px;
  }
  .review__author {
    font-size: 16px;
  }
  .review__img {
    width: 330px;
    background-image: url(../img/review-photo-s.webp)
  }
}
@media (max-width: 767.98px) {
  .review__container {
    padding: 15px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .review__content {
    text-align: center;
    grid-template-columns: 1fr 1fr;
    gap: 13px;
  }
  .review__text {
    grid-column: span 2;
    font-size: 22px;
  }
  .review__author {
    font-size: 15px;
    text-align: right;
  }
  .review__logo {
    text-align: left;
  }
  .review__img {
    width: 220px;
    background-image: url(../img/review-photo-xs.webp);
    justify-self: center;
  }
}
@media (max-width: 479.98px) {
  .review__container {
    gap: 10px;
  }
  .review__content {
    grid-template-columns: 1fr;
    gap: 8px;
  }
  .review__text {
    grid-column: span 1;
  }
  .review__author {
    text-align: center;
  }
  .review__logo {
    text-align: center;
  }
}